.footer {
    display: flex;
    text-align: left !important;
    padding: 5px;
    gap: 10px;
    margin-top: 15em;
    margin-bottom: 5em;
}
.footer .flax {
    align-items: flex-start;
}

.footer div {
    flex: 1;
}

.footer div:nth-child(1) {
    margin-right: 5em;
}

.footer-nav {
    margin-top: 10px;
}

.footer-nav p {
    padding: 0;
    margin: 0;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

@media (max-width: 767px) {
    .footer {
        margin: 0;
        flex-direction: column;
    }
    .flax {
        gap: 30px;
        align-items: flex-start !important;
    }
    .footer div:nth-child(1) {
        margin-right: 0;
    }
}

.foot-title a {
    font-size: 1.25em;
}
