.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    padding: 10px;
    position: fixed;
    width: 90%;
    max-width: 1220px;
    margin-top: -50px;
    border: 1px solid #ffffff;
    backdrop-filter: blur(10px);
    border-radius: 5px;
}
.cart {
    cursor: pointer;
    scale: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2 ease-in-out;
}

.cart svg {
    background-color: #bfc2ff;
    padding: 1px 3px 1px 1px;
    border-radius: 2px;
}
.cart svg:hover {
    background-color: #646cff;
    padding: 1px 3px 1px 1px;
    border-radius: 2px;
}

/* Utilities */

@media (max-width: 768px) {
    .header {
        width: 100%;
        margin-top: 0;
        position: relative;
        height: 20px;
        border: 1px solid transparent;
        backdrop-filter: blur(0);
    }
    .hide-on-mobile {
        display: none;
    }

    *.header {
        padding: 0;
    }
}
