.flx {
    display: flex;
    align-items: center;
    gap: 30px;
}

.src p {
    margin-left: -20px;
}

.src {
    margin-inline: auto;
    max-width: 700px;

    border: 1px solid #0077ff52;
    padding: 0.5em 1em;
    border-radius: 10px;
    justify-content: space-between;
}
/* Utilities */

@media (max-width: 680px) {
    .src {
        max-width: 300px;
        flex-wrap: wrap;
    }
    .hide-on-mobile {
        display: none;
    }
    .src p {
        display: none;
        margin-left: -5px;
    }

    .flx {
        gap: 10px;
    }

    .btn-src {
        background-color: #1a1a1a;
        border-radius: 8px;

        width: fit-content;
        flex: 1;
    }

    .src .flx {
        gap: 15px;
    }
}
